<p>{{user.id}}</p>
<p>{{user.email}}</p>
<p>{{user.name}}</p>
<p>{{user.password}}</p>
<p>{{bool user.deleted 'Deleted' 'Active'}}</p>
<p>{{user.userGroup.name}}</p>

<pre>{{{json user}}}</pre>

<script type="application/javascript" charset="UTF-8" language="JavaScript">
    $().ready(function(){

    });
</script>