<div class="accordion" id="auditAccordion">
    <div class="panel panel-danger">
        <div class="panel-heading" data-toggle="collapse" data-target="#auditTable" data-parent="#auditsAccordion">
            <h4 class="panel-title"><i class="glyphicon glyphicon-tasks"></i> History</h4>
        </div>
        <div id="auditTable" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-responsive datatable" data-displaylength="10">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Action</th>
                        <th>Action User</th>
                        <th>Action Date</th>
                        <th>Table</th>
                        <th>Table PK</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form accept-charset="utf-8" action="/audit/forms" method="post">
                        {{#each rows}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{action}}</td>
                                <td>{{user.name}}</td>
                                <td>{{{date action_date format="LLL" html="true"}}}</td>
                                <td>{{table}}</td>
                                <td>{{table_pk}}</td>
                                <td>{{detail}}</td>
                            </tr>
                        {{/each}}
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>