<!DOCTYPE html>
<html lang="en">
<head>
    {{{layout_head}}}
    <title>{{#if site_title}}{{site_title}}{{else}}{{session.site_title}}{{/if}}</title>
    <!--[if lt IE 9]>
    <script type="application/javascript" language="JavaScript" charset="utf-8" src="/js/lib/html5shiv.js"></script>
    <script type="application/javascript" language="JavaScript" charset="utf-8" src="/js/lib/respond.min.js"></script>
    <![endif]-->
    <script type="application/javascript" language="JavaScript" charset="utf-8" src="/js/lib/jquery-2.1.0.min.js"></script>
</head>
<body lang="en">{{!  ng-app="node-tickets" }}
    {{#if pageActive}}
    <nav class="navbar navbar-square navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only text-danger">Toggle navigation</span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
                <li class="{{#compare pageActive "Dashboard" operator="has"}}open{{/compare}}">
                    <a href="/dashboard/index">
                        <i class="glyphicon glyphicon-dashboard"></i>
                        Dashboard
                    </a>
                </li>
                {{#each session.user.permissions}}
                {{#unless action}}
                <li class="{{#compare name ../../../pageActive operator="has"}}open{{/compare}}">
                    <a href="{{uri}}">
                        {{{name}}}
                    </a>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fui-user"></i>
                        {{session.user.name}}
                        <b class="caret"></b>
                    </a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile/edit/{{session.user.id}}">
                                <i class="glyphicon glyphicon-edit"></i>
                                Edit
                            </a>
                        </li>
                        <li>
                            <a href="/profile/settings/{{session.user.id}}">
                                <i class="fui-gear"></i>
                                Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if session.user.types.length}}
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-plus"></i>
                            Record
                            <b class="caret"></b>
                        </a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            {{#each session.user.types}}
                                {{#unless deleted}}
                                    <li>
                                        <a href="#create{{name}}Modal" role="button" data-toggle="modal">
                                        {{#if icon}}
                                            <i class="{{icon}}"></i>
                                        {{/if}}
                                            {{name}}
                                        </a>
                                    </li>
                                {{/unless}}
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    {{/if}}
    <div id="container">
        <div class="col-md-12">
            {{#if session.user.name}}
                <div class="col-md-12">
                    <div class="col-md-4">
                        <ol class="breadcrumb">
                            <li><a href="/dashboard/index">Home</a></li>
                            {{#each breadcrumb}}
                                <li><a href="{{this}}">{{@key}}</a></li>
                            {{/each}}
                            <li class="active">{{pageActive}}</li>
                        </ol>
                    </div>
                    <div class="col-md-3 col-md-offset-5 pull-right">
                        <form id="search-records-form" class="navbar-form" role="search" action="/record/search/" method="get" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Records" name="search-term" id="search-term">
                                <div class="input-group-btn">
                                    <button id="search-records" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <h2>{{title}}</h2>
                {{#if info}}
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" data-dismiss="alert" class="close"><i class="glyphicon glyphicon-remove"></i></button>
                        {{info}}
                    </div>
                {{/if}}
                {{#if error}}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" data-dismiss="alert" class="close"><i class="glyphicon glyphicon-remove"></i></button>
                        {{error}}
                    </div>
                {{/if}}
                {{#if warning}}
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" data-dismiss="alert" class="close"><i class="glyphicon glyphicon-remove"></i></button>
                        {{warning}}
                    </div>
                {{/if}}
                {{#if success}}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" data-dismiss="alert" class="close"><i class="glyphicon glyphicon-remove"></i></button>
                        {{success}}
                    </div>
                {{/if}}
            {{/if}}
            <alert aria-hidden="true"></alert>
            {{{body}}}
        </div>
    </div>
    <div id="createRecordsModals" aria-hidden="true">
    {{#each session.user.types}}
        {{#unless deleted}}
        <div id="create{{name}}Modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" role="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"><span class="tile-title"><i class="{{icon}}"></i> {{name}}</span></h4>
                    </div>
                    <form id="create{{name}}Form" role="form" action="/record/create/{{id}}" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="TypeId" value="{{id}}">
                            <input type="hidden" name="StageId" value="1">
                            <input type="hidden" name="ResolutionId" value="1">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-header"></span></span>
                                        <input type="text" class="form-control" id="title" name="title" placeholder="Record Title" title="Use only Numers and Letters" required="required" {{{pattern "alphaNumericWithSpaces"}}}>
                                    </div>
                                </div>
                            </div>
                            {{#if desc}}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea id="desc" name="desc" class="wysiwyg form-control" placeholder="{{desc_caption}}" required="required" data-height="300"></textarea>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if priority}}
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="priority" name="priority" data-clear="true" data-placeholder="{{priority_caption}}">
                                </div>
                            {{/if}}
                            {{#if module}}
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th-large"></span></span>
                                        <input type="text" class="form-control" id="module" name="module" data-allow-clear="true" data-placeholder="{{module_caption}}">
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if start}}
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        <input type="datetime" class="form-control datetimepicker" id="start" name="start" placeholder="{{start_caption}}">
                                    </div>
                                </div>
                            {{/if}}
                            {{#if end}}
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        <input type="datetime" class="form-control datetimepicker" id="end" name="end" placeholder="{{end_caption}}">
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if due}}
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        <input type="datetime" class="form-control datetimepicker" id="due" name="due" placeholder="{{due_caption}}">
                                    </div>
                                </div>
                            {{/if}}
                            {{#if expire}}
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        <input type="datetime" class="form-control datetimepicker" id="expire" name="expire" placeholder="{{expire_caption}}">
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{#if tags}}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
                                        <input type="text" class="form-control select2" id="tags" name="tags" data-max="5" data-tags="{{tags_default}}" data-placeholder="{{tags_caption}}"> {{! @TODO update to include csv data-tags }}
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" role="button" class="btn btn-wide btn-inverse" data-dismiss="modal">Close</button>
                            <button type="reset" role="button" class="btn btn-wide btn-info">Reset</button>
                            <button type="submit" class="btn btn-wide btn-danger">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/unless}}
    {{/each}}
    </div>
    {{{layout_foot}}}
    <script type="application/javascript" language="JavaScript" charset="utf-8" src="/js/App.js"></script>
    <script type="application/javascript" language="JavaScript" charset="utf-8">
        window.App.user = {
            id: '{{session.user.id}}',
            name: '{{session.user.name}}',
            group: {
                name: '{{session.user.group}}',
                id: '{{session.user.groupId}}'
            }
        };
        window.App.module = {
            dashboard: angular.module('dashboard', ['ngSanitize']),
            configureTypes: angular.module('configure-types', ['frapontillo.bootstrap-switch'])
        };
        $().ready(function(){
            "use strict";
            window.App.init();

            var submitSearchRecords = function(e){
                e.preventDefault();
                window.location.href = $('#search-records-form').attr('action') + encodeURIComponent($('#search-term').val());
                return false;
            };
            $('#search-term').keypress(function(e) {
                if ( e.which == 13 ) {
                    return submitSearchRecords(e);
                }
            });
            $('#search-records').click(function(e){
                return submitSearchRecords(e);
            });

            var elePriority = $('#priority'),
                eleModule = $('#module'),
                dataPriority = elePriority.data(),
                dataModule = eleModule.data(),
                sessionDataPriority{{#if session.recordData.priority}} = '{{json session.recordData.priority}}'{{/if}},
                sessionDataModule{{#if session.recordData.module}} = '{{json session.recordData.module}}'{{/if}};
            if (sessionDataPriority && sessionDataModule) {
                elePriority.select2($.extend(true, dataPriority, {
                    initSelection: function(ele, callback){
                        callback({id:null,text:'Priority'})
                    },
                    data: { results: JSON.parse(sessionDataPriority) }
                }));
                eleModule.select2($.extend(true, dataModule, {
                    initSelection: function(ele, callback){
                        callback({id:null,text:'Module'})
                    },
                    data: { results: JSON.parse(sessionDataModule) }
                }));
                $('.select2-offscreen.form-control').removeClass('form-control');
                $('.select2-container').css('width','');
            }
        });
    </script>
</body>
</html>