{{{js "/js/controllers/configure-types.js"}}}
<div class="col-md-12">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            {{#each session.recordData.types}}
            <li {{#if @first}}class="active"{{/if}}>
                <a href="#type_{{id}}" data-toggle="tab">{{name}}</a>
            </li>
            {{/each}}
        </ul>
        <div class="tab-content" ng-app="configure-types">
        {{#each session.recordData.types}}
            <div class="tab-pane{{#if @first}} active{{/if}}" id="type_{{id}}" ng-controller="{{name}}Ctrl">
                <form role="form" action="/admin/config/" enctype="application/x-www-form-urlencoded" method="post" accept-charset="utf-8">
                    <input type="hidden" name="TypeId" value="{{id}}">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="icon{{name}}" class="col-md-2 control-label">Icon</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="icon{{name}}" placeholder="Icon" ng-model="icon" value="{{icon}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stage_caption{{name}}" class="col-md-2 control-label">Status</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="stage_caption" value="{{stage_caption}}" id="stage_caption{{name}}" name="stage_caption" placeholder="Status Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resolution_caption{{name}}" class="col-md-2 control-label">Resolution</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="resolution_caption" value="{{resolution_caption}}" id="resolution_caption{{name}}" name="resolution_caption" placeholder="Resolution Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="priority{{name}}" class="col-md-2 control-label">Priority</label>
                            <div class="col-md-10">
                                <input id="priority{{name}}" ng-model="priority" name="priority" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool priority " " "ng-hide"}}" ng-show="priority">
                            <label for="priority_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="priority_caption" value="{{priority_caption}}" id="priority_caption{{name}}" name="priority_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="module{{name}}" class="col-md-2 control-label">Module</label>
                            <div class="col-md-10">
                                <input id="module{{name}}" ng-model="module" name="module" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool module " " "ng-hide"}}" ng-show="module">
                            <label for="module_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="module_caption" value="{{module_caption}}" id="module_caption{{name}}" name="module_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tags{{name}}" class="col-md-2 control-label">Tags</label>
                            <div class="col-md-10">
                                <input id="tags{{name}}" ng-model="tags" name="tags" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool tags " " "ng-hide"}}" ng-show="tags">
                            <label for="tags_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="tags_caption" value="{{tags_caption}}" id="tags_caption{{name}}" name="tags_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group {{bool tags " " "ng-hide"}}" ng-show="tags">
                            <label for="tags_default{{name}}" class="col-md-2 control-label">Defaults</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control select2" value="{{tags_default}}" data-tags="{{tags_default}}" id="tags_default{{name}}" name="tags_default" placeholder="Default Tags">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="start{{name}}" class="col-md-2 control-label">Start</label>
                            <div class="col-md-10">
                                <input id="start{{name}}" ng-model="start" name="start" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool start " " "ng-hide"}}" ng-show="start">
                            <label for="start_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="start_caption" value="{{start_caption}}" id="start_caption{{name}}" name="start_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end{{name}}" class="col-md-2 control-label">End</label>
                            <div class="col-md-10">
                                <input id="end{{name}}" ng-model="end" name="end" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool end " " "ng-hide"}}" ng-show="end">
                            <label for="end_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="end_caption" value="{{end_caption}}" id="end_caption{{name}}" name="end_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="due{{name}}" class="col-md-2 control-label">Due</label>
                            <div class="col-md-10">
                                <input id="due{{name}}" ng-model="due" name="due" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool due " " "ng-hide"}}" ng-show="due">
                            <label for="due_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="due_caption" value="{{due_caption}}" id="due_caption{{name}}" name="due_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="expire{{name}}" class="col-md-2 control-label">Expire</label>
                            <div class="col-md-10">
                                <input id="expire{{name}}" ng-model="expire" name="expire" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool expire " " "ng-hide"}}" ng-show="expire">
                            <label for="expire_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="expire_caption" value="{{expire_caption}}" id="expire_caption{{name}}" name="expire_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desc{{name}}" class="col-md-2 control-label">Description</label>
                            <div class="col-md-10">
                                <input id="desc{{name}}" ng-model="desc" name="desc" bs-switch type="checkbox"
                                       switch-on-label="<i class='fui-check'></i>" switch-off-label="<i class='fui-cross'></i>" switch-on="success" switch-off="danger">
                            </div>
                        </div>
                        <div class="form-group {{bool desc " " "ng-hide"}}" ng-show="desc">
                            <label for="desc_caption{{name}}" class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="desc_caption" value="{{desc_caption}}" id="desc_caption{{name}}" name="desc_caption" placeholder="Caption">
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="btn-group">
                                <button type="reset" role="button" class="btn btn-wide btn-inverse">Clear</button>
                                <button type="submit" role="button" class="btn btn-wide btn-danger">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {{/each}}
        </div>
    </div>
</div>