<div class="accordion" id="usersAccordion">
    <div class="panel panel-danger">
        <div class="panel-heading" data-toggle="collapse" data-target="#userTable" data-parent="#usersAccordion">
            <h4 class="panel-title"><i class="glyphicon glyphicon-tasks"></i> {{title_users}}</h4>
            <button type="button" role="button" id="createUser" class="btn btn-danger accordion-button">
                <i class="glyphicon glyphicon-plus"></i>
                Create
            </button>
        </div>
        <div id="userTable" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-checkable table-responsive datatable">
                    <thead>
                    <tr>
                        <th class="checkbox-column"><input type="checkbox"></th>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Group</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form accept-charset="utf-8" action="/user/forms" method="post">
                        {{#each users}}
                            <tr>
                                <td class="checkbox-column">
                                    <input name="userId" type="checkbox" value="{{id}}">
                                </td>
                                <td>{{id}}</td>
                                <td>{{email}}</td>
                                <td>{{{anchor name href="/profile/" param=id}}}</td>
                                <td>{{bool deleted "Deleted" "Active"}}</td>
                                <td>{{{date createdAt format="LLL" html="true"}}}</td>
                                <td>{{{date updatedAt timeago="true"}}}</td>
                                <td>{{group.name}}</td>
                                <td></td>
                            </tr>
                        {{/each}}
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="groupsAccordion">
    <div class="panel panel-danger">
        <div class="panel-heading" data-toggle="collapse" data-target="#groupTable" data-parent="#groupsAccordion">
            <h4 class="panel-title"><i class="glyphicon glyphicon-tasks"></i> {{title_groups}}</h4>
            <button type="button" role="button" id="createGroup" class="btn btn-danger accordion-button">
                <i class="glyphicon glyphicon-plus"></i>
                Create
            </button>
        </div>
        <div id="groupTable" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-checkable table-responsive datatable">
                    <thead>
                    <tr>
                        <th class="checkbox-column"><input type="checkbox"></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Access Types</th>
                        <th>Permissions</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form accept-charset="utf-8" action="/group/forms" method="post">
                        {{#each groups}}
                            <tr>
                                <td class="checkbox-column">
                                    <input name="groupId" type="checkbox" value="{{id}}">
                                </td>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                                <td>{{bool deleted "Deleted" "Active"}}</td>
                                <td>{{{date createdAt format="LLL" html="true"}}}</td>
                                <td>{{{date updatedAt timeago="true"}}}</td>
                                <td>
                                {{#each types}}
                                    <span class="label label-danger">
                                        {{#if icon}}
                                            <i class="{{icon}}"></i>
                                        {{/if}}
                                        {{name}}
                                    </span>
                                {{/each}}
                                </td>
                                <td>
                                {{#each permissions}}
                                    <span class="label label-danger">{{{name}}}</span>
                                {{/each}}
                                </td>
                                <td></td>
                            </tr>
                        {{/each}}
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="createGroupModal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" role="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Create Group</h4>
            </div>
            <form id="createGroupForm" role="form" action="/admin/group/" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" title="Use only Numers and Letters" required="required" {{{pattern "alphaNumericWithSpaces"}}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="types" class="col-sm-2 control-label">Access</label>
                        <div class="col-sm-10">
                            <select class="form-control dualListbox" id="types" name="types" data-placeholder="Types" multiple="multiple">
                                {{#each types}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="permissions" class="col-sm-2 control-label">Permissions</label>
                        <div class="col-sm-10">
                            <select class="form-control dualListbox" id="permissions" name="permissions" data-placeholder="Permissions" multiple="multiple">
                                <optgroup label="Actions">
                                {{#each permissions}}
                                {{#if action}}
                                    <option value="{{id}}">{{{name}}}</option>
                                {{/if}}
                                {{/each}}
                                </optgroup>
                                <optgroup label="Areas">
                                {{#each permissions}}
                                {{#unless action}}
                                    <option value="{{id}}">{{{name}}}</option>
                                {{/unless}}
                                {{/each}}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deleted" class="col-sm-2 control-label">Active</label>
                        <div class="col-sm-10">
                            <div class="switch" data-toggle="switch" data-off-label="<i class='fui-cross'></i>" data-on-label="<i class='fui-check'></i>" data-off="danger" data-on="success">
                                <input id="deleted" name="deleted" type="checkbox" value="0" checked>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" role="button" class="btn btn-wide btn-inverse" data-dismiss="modal">Close</button>
                    <button type="reset" role="button" class="btn btn-wide btn-info">Reset</button>
                    <button type="submit" class="btn btn-wide btn-danger">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="createUserModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" role="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Create User</h4>
            </div>
            <form id="createUserForm" role="form" action="/admin/user/" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Full Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" title="Use only Numers and Letters" required="required" {{{pattern "alphaNumericWithSpaces"}}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required" {{{pattern "email"}}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" title="Inclue 1 number, 1 upper case letter, and at least 6 characters long" required="required" {{{pattern "password"}}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deleted" class="col-sm-2 control-label">Active</label>
                        <div class="col-sm-10">
                            <div class="switch" data-toggle="switch" data-on-label="<i class='fui-cross'></i>" data-off-label="<i class='fui-check'></i>" data-on="danger" data-off="success">
                                <input id="deleted" name="deleted" type="checkbox" value="1" checked>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="GroupId" class="col-sm-2 control-label">Group</label>
                        <div class="col-sm-10">
                            <select class="form-control select2" id="GroupId" name="GroupId" data-placeholder="Group" required="required">
                                {{#each groups}}
                                    {{#unless deleted}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/unless}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" role="button" class="btn btn-wide btn-inverse" data-dismiss="modal">Close</button>
                    <button type="reset" role="button" class="btn btn-wide btn-info">Reset</button>
                    <button type="submit" class="btn btn-wide btn-danger">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="application/javascript" charset="UTF-8" language="JavaScript">
    $().ready(function(){
        $('#createUser').click(function(e){
            $('#createUserModal').modal('show');
            return false;
        });
        $('#createGroup').click(function(e){
            $('#createGroupModal').modal('show');
            return false;
        });
    });
</script>